@font-face {
    font-family: 'Menu';
    src: url('/assets/fonts/Inter/Inter-Regular.ttf');
}

@font-face {
    font-family: 'Titulo2';
    src: url('/assets/fonts/Inter/Inter-SemiBold.ttf');
}

@font-face {
    font-family: 'Romanesco';
    src: url('/assets/fonts/Romanesco/Romanesco-Regular.ttf');
}

/* ========================================================================================= */

body {
    margin: 0px;
    padding: 0px;
}

/* ========================================================================================= */

header {
    font-family: 'Menu';
    font-size: 16px;
    background-color: #A3A656;
    display: flex;
    height: 70px;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
}

header ul li:hover {
    color: #FFFF00
}

.options {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.options ul {
    display: flex;
    list-style: none;
    gap: 20px;
    padding-left: 70px;
    margin: 0px;
}

.user {
    display: flex;
    justify-content: right;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    flex-grow: 1;
}

.user ul {
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 0px;
    padding: 0px;
    align-items: center;
}

.language {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 0px;
}

.language ul {
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 0px;
    padding-right: 15px;
    align-items: center;
}

/* ========================================================================================= */

.phrase {
    background-image: url('/assets/images/main.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    width: 100%;
    height: 670px;
}

.phrase h1 {
    font-family: 'Romanesco';
    font-size: 96px;
    color: #000;
    margin: 0px;
    padding: 140px 200px 0px;
}

.phrase h2 {
    font-family: 'Titulo2';
    font-size: 32px;
    color: #000;
    margin: 0px;
    padding: 0px 200px 0px;
}

/* ========================================================================================= */

.reservation {
    font-family: 'Menu';
    background-color: #F2F6F6;
    display: flex;
    box-sizing: border-box;
    height: 100px;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.reservation label {
    padding: 10px;
}

.reservation input {
    border-radius: 10px;
    padding: 15px 30px;
    border: none;
}

/* ========================================================================================= */



/* ========================================================================================= */

.footer {
    font-family: 'Menu';
    font-size: 16px;
    background-color: #384001;
    color: #A3A656;
    box-sizing: border-box;
    height: 97px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
}

footer ul {
    display: flex;
    gap: 20px;
    margin: 0px;
    padding: 0px;
    list-style: none;
    align-items: center;
}

footer ul li:hover {
    color: #FFFF00
}

.footerLeft {
    margin-left: 70px;
}

.footerRight {
    margin-right: 70px;
}